body {
    width: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

h1 span {
    color: orange;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

#top-banner,
#dream-area,
#experience-area{
    width: 100%;
    /* width: 1200px; */
}

#top-banner img,
#dream-area img,
#experience-area img {
    padding: 0 50px;
}

#top-banner {
    /* width: 100%; */
    display: flex;
    background: url(./images/top-banner.png) top left no-repeat;
}

#dream-area,
#experience-area {
    margin-top: 150px;
    margin-bottom: 150px;
}

#dream-area {
    display: flex;
    background: url(./images/dream-bg.png) right no-repeat;
}

#dream-area .half-width:nth-child(2) {
    padding-right: 100px;
}

#experience-area {
    background-image: url(./images/exp-bg.png) left top no-repeat;
    width: 100%;
}

#experience-area h3 {
    color: orange;
}

.flexible-area {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex: content;
    justify-content: space-around;
}

#full-stack,
#baby-web {
    /* z-index: -100; */
    width: 40%;
    /* border-radius: 5px; */
    box-shadow: 10px 10px 30px gray;
}

#full-stack {
    border-left: 10px solid tomato;
}

#baby-web {
    border-left: 10px solid blue;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.anchor-button {
    text-decoration: none;
    background-image: linear-gradient(to right, orange, tomato);
    background-image: -moz-linear-gradient(to right, orange, tomato);
    background-image: -o-linear-gradient(to right, orange, tomato);
    background-image: -webkit-linear-gradient(to right, orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}



footer {
    text-align: center;
    margin-top: 150px;
}




















/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orange;
}
.half-width img{
    width: 100%;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
p{
    color: dimgray;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
h2{
    font-size: 40px;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.experience-area h3{
    color: orange;
}

.experience-area div{
    box-shadow: 5px 7px 40px gray;
    height: 80%;
}
#full-stack{
    border-left: 7px solid tomato;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(blue 100%, cyan 100%);
    border-image-slice: 1;
}
footer p{
    text-align: center;
} */